/* Acerisco define elementos da págin em si */
*{ 
    /* Define o espaçamento externo */
    margin: 0; 
    /* Define o espaçamento interno */
    padding: 0;
    /* Para garantir o formato da tela do computador, que só poderá ser alterado pelo programador */
    box-sizing: border-box;} 

body{ 
    /* Indica a forma que serão dispostos os elementos */
    display: flex; 
    /* Define como serão dispostos os elementos, nesse caso, um abaixo do outro, em coluna */
    flex-direction: column; 
    /* Alinha todos os elementos no centro, verticalmente */
    align-items: center; 
    /* Alinha todos os elementos no centro, horizontalmente*/
    justify-content: center; 
    /* Define a altura do elemento */
    height: 100vh; 
    /* Define cor de fundo */
    background-color: skyblue;} 

h2{
    /* Define o espaçamento interno */
    padding: 10px;} 

select{ 
    /* Define o espaçamento interno */
    padding: 10px; 
    /* Define o tamanho das letras */
    font-size: 15px; 
    /* Define cor das letras */
    background-color: bisque;} 

button{ 
    /* Espaçamento externo acima do objeto */
    margin-top: 5px; 
    /* Define o espaçamento interno */
    padding: 5px; 
    /* Define cor de fundo */
    background-color: brown; 
    /* Define cor das letras */
    color: white; 
    /* Define espaço abaixo do objeto */
    margin-bottom: 10px;} 