*{ /* Acerisco define elementos da págin em si */
    margin: 0; /* Define o espaçamento externo, nesse caso da página*/
    padding: 0; /* Define o espaçamento interno, nesse caso da página*/
    box-sizing: border-box;} /* Para garantir o formato da tela do computador, que só poderá ser alterado pelo programador */

body{ /* Se refere a um elemento do html, onde tudo aparecerá para o usuário */
    display: flex; /* Indica a forma que serão dispostos os elementos */
    flex-direction: column; /* Define como serão dispostos os elementos, nesse caso, um abaixo do outro, em coluna */
    align-items: center; /* Alinha todos os elementos no centro, verticalmente */
    justify-content: center; /* Alinha todos os elementos no centro, horizontalmente*/
    height: 100vh; /* Define a altura do elemento */
    background-color: skyblue;} /* Define cor de fundo */

h2{ /* Texto inicial do html*/
    padding: 10px;} /* Define o espaçamento interno */

button{ /* Botão usado no html */
    padding: 10px; /* Define o espaçamento interno */
    border-radius: 10px; /* Arredondamento da borda */
    margin: 5px; /* Define o espaçamento externo */
    background-color: brown; /* Define cor de fundo */
    color: white;} /* Define cor do texto */

input{ /* "Caixa de entrada" do html */
    padding: 10px; /* Define o espaçamento interno */
    border-radius: 5px;} /* Arredondamento da borda */

.t1{ /* Classe da div, referenciada no css pelo ponto */
    font-size: 20px; /* Tamanho da fonte das letras */
    margin: 15px;} /* Define o espaçamento externo */